@charset "UTF-8";

body{
    background-color: black;
    text-align: center;
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
video{
    width: 600px;
    height: 400px;   
}
